.header {
    position: fixed;
    width:90%;
    height: 10vh;
    background-color: black;
    font-family: 'Style Script';
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 5%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }

.btn{
    margin-right: 1rem;
    font-size: large;
    font-family: 'Style Script';
    color: white;
    background-color: inherit;
}
.head, .name{
    text-decoration: none;
    color: white;
}